<MyNavbar></MyNavbar>
<div *ngIf="artist" class="jumbotron" style="background-color:grey;">
    <div class="container">
        
        <div class="col-md-4" id="name-jumbotron">
         <p>{{artist.name}}</p>
         <p *ngIf="user && artist.idLogged"><button type="submit" (click)="removeFollow(artist.id_artist)" class="btn btn-success follow-btn">Following<span class="glyphicon glyphicon-ok"></span> </button></p>
         <p *ngIf="user && !artist.idLogged"><button type="submit" (click)="addFollow(artist.id_artist)" class="btn btn-danger follow-btn">Not Following</button></p>
         <p><img class="img-responsive" id="userlogo" src="../assets/img/artist.png" width="60" height="55"> </p>
        </div>
        <div class="col-md-3" id="description">
                <button type="button" class="btn btn-primary btn-lg" id="cajas" (click)="goToFollowers(artist.id_artist)">{{artist.followers}}</button>
            <p>Followers</p>
        </div>
         <div class="col-md-3" id="description">
            <div id="Caja4">
                <p>Related tags:</p><u><b> <a class="tag" *ngFor='let tag of artist.tagsOfArtist' [routerLink]="['/search', tag.name]" > {{tag.name}}  </a></b></u></div>
        </div>
         <div class="col-md-2" id="description">
            <p>{{artist.country}}</p>
        </div>
    </div>
</div>
<br clear="all">
<div id="musica">
    <div class="row">
        <div class="col-md-8">
             <div class="panel panel-default" id="canciones-artista">
                 <div class="panel-heading"> Songs </div>
                 <div class="container">
                     <div *ngIf="songs" class="col-md-8">
                          <div class="text-center"> <span>List tracks</span> </div>
                          <div *ngFor="let song of songs" style="text-align:left" id="pag">
                            <hr>
                            <p ><button *ngIf="user && !song.isIdLogged" class="button" (click)="addFavorite(song.id_song)">Add Favorite</button><p>
                            <span>Title: </span>{{song?.title}} <a href="{{song.link_youtube}}" class="pull-right"><i class="fa fa-play-circle-o"></i>Link Youtube </a>
                            <hr> </div>
                     </div>
                 </div>
             </div>
        </div>
        <div id="playlists-grupo" class="col-md-4">
            <div class="well">
                <h4>Top Artists</h4>
                <div class="row">
                    <ul class="list-unstyled" style="margin-left:15px">
                        <li *ngFor="let a of topArtists"><a [routerLink]="['/artist', a.id_artist]">  {{a?.name}} </a></li>
                    </ul>
                </div>
                <!-- /.row -->
            </div>
            <div class="well">
                    <h4>Top Tags</h4>
                    <div class="row">
                       <ul class="list-unstyled" style="margin-left:15px">
                       
                           <li *ngFor="let tag of topTags"> <a [routerLink]="['/search', tag.name]" class="tag">{{tag.name}} </a></li>
                    
                        </ul>
                    </div>
                    <!-- /.row -->
                </div>
        </div>
    </div>
</div>