<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <!--Titulo del navegador -->
    <title>Musine</title>
    <!--Configuraciones que venian por defecto en la plantilla y no hizo falta cambiar -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login and Registration Form for Musine" />
    <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
    <meta name="author" content="Team 21" />
    <!--Icono con el logo de la pagina para la pestaña del navegador -->
    <link rel="icon" type="image/png" href="../img/musine.png">
    <!--Diferentes estilos que fueron incorporados a la plantilla -->
    <link rel="stylesheet" type="text/css" href="../css/backgroudStyleLogInSignUp.css" />
    <link rel="stylesheet" type="text/css" href="../css/styleLogInSignUp.css" />
    <link rel="stylesheet" type="text/css" href="../css/animate-custom.css" />
    <link type="text/css" rel="stylesheet" href="../css/loginstyle.css"> </head>

<body>
    <!--Contenedor de toda la pagina -->
    <div class="container">
        <!-- Codrops top bar -->
        <section>
            <div id="container_demo">
                <!--Seccion que permite hacer el cambio entre log in y sing up -->
                <a class="hiddenanchor" id="toregister"></a>
                <a class="hiddenanchor" id="tologin"></a>
                <div id="wrapper">
                    <div id="login" class="animate form" style="margin-top: 2em;">
                        <!--Formulario que venia por defecto en la plantilla, al cual se le cambiaron aspectos textuales -->
                        <form id="formulario" autocomplete="on">
                            <h1>Log in</h1>
                            <p>
                                <label for="username" class="uname"> Enter your username: </label>
                                <input #user id="username" name="username" required="required" type="text" placeholder="User" /> </p>
                            <p>
                                <label for="password" class="youpasswd"> Password: </label>
                                <input #pass id="password" name="password" required="required" type="password" placeholder="************" /> </p>

                            <p class="btnLogin">
                                
                                <button type="submit" (click)="logIn($event, user.value, pass.value)">Log In</button>	</p>
                            
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>