<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Musine</title>
    <link rel="icon" type="image/png" href="../img/musine.png">
    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom CSS -->
    <link href="../css/homestyle.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header" id="header"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <a class="navbar-brand" href="/">Musine</a> <img class="img-responsive" id="logo-navbar" src="../img/musine.png" width="60" height="55"> </div>
       
           
        </div>
    </nav>
    <div class="jumbotron" style="background-color:grey;">
        <div class="container uploadImg">
            <div class="col-md-6">
            
                <div class="well">
                    <h4>Artists</h4>
                    <div class="row">
                          <form action="/adminCreateSong" method="post">
                  
                         <input type="hidden" name="_csrf" value="{{token}}"/>
                     	<input type="hidden" name="idArtist" value="{{idArtist}}"/>
                        <input type="submit"  onclick="olakase" style="color:black;" name="sendData" value="Create New Song"/>
                        
              				</form></li>
                    </div>
                    <!-- /.row -->
                </div>
                
                

            </div>
            <div class="col-md-6">
            <form action="/adminEditArtist/{{idArtist}}" method="post">
                    <label for="Bio">Artist Name</label>
 					<input type="text" class="form-control" name="name" id="artistname" placeholder="{{name}}"> 
                	<div class="form-group form-utent">
                        <label for="Link" id="artistcouny+try">Country</label>
                        <input type="text" class="form-control" name="country" placeholder="{{country}}"> 
                        <div class="form-group form-utent">
                         <input type="hidden" name="_csrf" value="{{token}}"/>
                     	<input type="hidden" name="id" value=""/>
                        <input type="submit"  onclick="olakase" style="color:black;" name="sendData" value="Save changes"/>
                        </div>
                      </div>
              </form>
                          <div class="form-group form-utent">
                        <a href="/admin">
                        <input type="button" style="color:black;" name="back" value="Back"/>
                        </a>
                        </div>
            </div>

    <!-- /.row -->
    <!-- Footer -->
    
    <div class="container">
        <div class="row">
       
        Songs
        
                        {{#songs}}
                         <div class="col-md-12">
                          
                             <form action="/adminEditSong/{{id_song}}" method="post" >
                  
                         <input type="hidden" name="_csrf" value="{{token}}"/>
                     	<input type="hidden" name="idArtist" value="{{idArtist}}"/>
                     	<input type="hidden" name="title" value="{{title}}"/>
                     	<input type="hidden" name="link_youtube" value="{{link_youtube}}"/>
                        <input type="submit"  onclick="olakase" style="color:black;" name="sendData" value="{{title}}"/>
                        
              				</form></div>
                        {{/songs}}
       </ul>
       </div>
       </div>
   
    </div>
    <footer>
        <div class="row">
            <div class="col-md-12">
                <div class="intro-text">
                    <hr class="star-light"> <span class="footer">Musine </span> </div>
            </div>
        </div>
        <!-- /.row -->
    </footer>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>