<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Musine</title>
    <link rel="icon" type="image/png" href="../img/musine.png">
    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../css/homestyle.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> </head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header" id="header"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <a class="navbar-brand" href="/">Musine</a> <img class="img-responsive" id="logo-navbar" src="../img/musine.png" width="60" height="55"> </div>
            <form class="navbar-form navbar-left" action="/SearchPlaylist">
                <div class="input-group" id="search">
                    <input type="text" class="form-control" placeholder="Search" name="key">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" id="search-button" > <i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
            <div id="navbar">
                <ul class="nav navbar-nav navbar-right">
                {{^login}}
                    <li><a href="/login#toregister"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {{/login}}
                {{#login}}
                	<li><img class="img-responsive img-circle" src="../img/user.jpg" width="60" height="55"></li>
                    <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Account<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Config/{{idUser}}">My Profile</a></li>
                            <li><a href="/MyPlaylists/{{idUser}}">My Playlists</a></li>
                            <li><a href="/Logout">Log Out</a></li>
                        </ul>
                    </li>
                {{/login}}
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron" style="background-color:grey;">
        <div class="container">
            <div class="col-md-4 name-jumbotron">
                <p>{{a.name}}
                    <button type="button" class="btn btn-success follow-btn">Following<span class="glyphicon glyphicon-ok"></span> </button>
                </p>
                <p><img class="img-responsive" id="userlogo" src="https://i1.sndcdn.com/avatars-000263373303-edxcgq-t500x500.jpg" width="60" height="55"> </p>
            </div>
            <div class="col-md-2 description">
                <p>{{n_followers}}</p>
                <p>Followers</p>
            </div>
            <div class="col-md-4 description">
                <div id="Caja4">
                    <p>Related tags:</p> {{#tags}}<u><b><big> <a class="tag" href="searchPlaylist.html"> {{name}}  </a></big></b></u>{{/tags}}</div>
            </div>
            <div class="col-md-2 description">
                <p>{{a.country}}</p>
            </div>
        </div>
    </div>
    <br clear="all">
    <div id="musica">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default" id="canciones-artista">
                    <div class="panel-heading"> Songs </div>
                    <div class="container">
                        <div class="col-md-8">
                            <div class="text-center"> <span>List tracks</span> </div>
                            {{#songs}}
                    <hr>
                    {{#login}}
                    {{^idLogged}}
                    <form action="/Artist/{{a.id_artist}}" method="post">
                    <input type="hidden" name="favorite" value="{{title}}" >
                    <input type="submit" value="Add favorites"><span class="glyphicon glyphicon-star"></span>
                    </form>
                    {{/idLogged}}
                    
                    {{/login}}
                        <div><span>Title: </span>{{title}} <a href="{{link_youtube}}" class="pull-right"><i class="fa fa-play-circle-o"></i> Link Youtube</a>
                            <p><span>Artist:{{#artistsOfSong}} <a href="/Artist/{{id_artist}}"> {{name}} {{/artistsOfSong}}</a></span></p>
                        </div>
                    {{/songs}}
                            <hr>
        
                        </div>
                    </div>
                    <div class="panel-body"> </div>
                </div>
            </div>
            <div id="playlists-grupo" class="col-md-4">
                <div class="well">
                    <h4>Related Palylists</h4>
                    <div class="row">
                        <ul class="list-unstyled" style="margin-left:15px">
                            <li><a href="Playlist.html">Playlist 1</a> </li>
                            <li><a href="Playlist.html">Playlist 2</a> </li>
                            <li><a href="Playlist.html">Playlist 3</a> </li>
                        </ul>
                    </div>
                    <!-- /.row -->
                </div>
                <div class="well">
                    <h4>Related Artists</h4>
                    <div class="row">
                        <ul class="list-unstyled" style="margin-left:15px">
                            <li><a href="Artist.html">Artist 1</a> </li>
                            <li><a href="Artist.html">Artist 2</a> </li>
                            <li><a href="Artist.html">Artist 3</a> </li>
                        </ul>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="col-md-12">
                <div class="intro-text">
                    <hr class="star-light"> <span class="footer">Musine </span> </div>
            </div>
        </div>
        <!-- /.row -->
    </footer>
</body>

</html>