<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Musine</title>
    <link rel="icon" type="image/png" href="../img/musine.png">
    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../css/homestyle.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> </head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header" id="header"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <a class="navbar-brand" href="/">Musine</a> <img class="img-responsive" id="logo-navbar" src="../img/musine.png" width="60" height="55"> </div>
            <form class="navbar-form navbar-left">
                <div class="input-group" id="search">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" id="search-button"> <i class="glyphicon glyphicon-search"></i> </button>
                    </div>
                </div>
            </form>
            <div id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><img class="img-responsive img-circle" src="../img/user.jpg" width="60" height="55"></li>
                    <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Account<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="config.html">My Profile</a></li>
                            <li><a href="/MyPlaylists/{{u.id_user}}">My Playlists</a></li>
                            <li><a href="/Logout">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron" style="background-color:grey;">
        <div class="container">
            <div class="col-md-3 name-jumbotron">
                <p>{{u.name}} <a href="config.html" style="color:white"><span class="glyphicon glyphicon-cog"></span></a> </p>
                <p><img class="img-responsive" id="userlogo" src="../img/user.jpg" width="60" height="55"> </p>
            </div>
            <div class="col-md-3 description">
                <p>{{n_created}}</p>
                <p>Created playlist</p>
            </div>
            <div class="col-md-3 description">
                <a href="/UserFollowers/{{u.id_user}}">
                    <button type="button" class="btn btn-primary btn-lg cajas">{{n_followers}}</button>
                </a>
                <p>Followers</p>
            </div>
            <div class="col-md-3 description">
                <a href="/UserFollowing/{{u.id_user}}">
                    <button type="button" class="btn btn-primary btn-lg cajas">{{n_following}}</button>
                </a>
                <p>Following</p>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default">
        <div class="col-md-4 utent_button">
            <a href="/MyPlaylists/{{u.id_user}}">
                <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-cd"></span> PLAYLISTS</button>
            </a>
        </div>
        <div class="col-md-4 utent_button">
            <a href="/MyLikes/{{u.id_user}}">
                <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> LIKES</button>
            </a>
        </div>
        <div class="col-md-4 utent_button">
            <a href="/MyFavorites/{{u.id_user}}">
                <button type="button" class="btn btn-default btn-lg active"><span class="glyphicon glyphicon glyphicon-star-empty"></span> FAVORITE TRACKS</button>
            </a>
        </div>
    </nav>
    <!-- Page Content -->
    <div class="container">
        <div class="well">
            <div class="text-center"> <span>List tracks</span> </div>
            <hr>
            <div class="row">
            {{#songs}}
                <div class="col-md-12"><span>Title: {{title}} </span><span class="glyphicon glyphicon-trash pull-right"></span><a href="{{link_youtube}}" class="pull-right"><i class="fa fa-play-circle-o"></i> Link Youtube</a>
                    <p><span>Artist:{{#artistsOfSong}} <a href="/Artist/{{id_artist}}"> {{name}} {{/artistsOfSong}}</a></span> </p>
                </div>
            {{/songs}}
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-md-12">
                <div class="intro-text">
                    <hr class="star-light"> <span class="footer">Musine </span> </div>
            </div>
        </div>
        <!-- /.row -->
    </footer>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>