<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <!--Titulo del navegador -->
    <title>Musine</title>
    <!--Configuraciones que venian por defecto en la plantilla y no hizo falta cambiar -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login and Registration Form for Musine" />
    <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
    <meta name="author" content="Team 21" />
    <!--Icono con el logo de la pagina para la pestaña del navegador -->
    <link rel="icon" type="image/png" href="../img/musine.png">
    <!--Diferentes estilos que fueron incorporados a la plantilla -->
    <link rel="stylesheet" type="text/css" href="../css/backgroudStyleLogInSignUp.css" />
    <link rel="stylesheet" type="text/css" href="../css/styleLogInSignUp.css" />
    <link rel="stylesheet" type="text/css" href="../css/animate-custom.css" />
    <link type="text/css" rel="stylesheet" href="../css/loginstyle.css"> </head>

<body>
    <!--Contenedor de toda la pagina -->
    <div class="container">
        <!-- Codrops top bar -->
        <header style="text-align:center; margin-bottom:2em;">
            <!--Mensaje de bienvenida a la pagina -->
            <h1>Welcome to  <a class="navbar-brand" href="/">Musine</a> <img class="img-responsive" id="logo-login" src="../img/musine.png" width="60" height="55"></a></h1>
            <!--Invitacion a iniciar sesion con otras redes sociales -->
<!--             <nav class="codrops-demos"> <span>You can also <strong>"log in"</strong> with</span> <a href="facebook.html" id="btnFacebook" class="current-demo">Facebook</a> <a href="google.html" id="btnFacebook">Google</a> </nav> -->
        </header>
        <section>
            <div id="container_demo">
                <!--Seccion que permite hacer el cambio entre log in y sing up -->
                <a class="hiddenanchor" id="toregister"></a>
                <a class="hiddenanchor" id="tologin"></a>
                <div id="wrapper">
                    <div id="login" class="animate form">
                        <!--Formulario que venia por defecto en la plantilla, al cual se le cambiaron aspectos textuales -->
                        <form action="/login" id="formulario" autocomplete="on" method="post">
                            <h1>Log in</h1>
                            <p>
                                <label for="username" class="uname"> Enter your username: </label>
                                <input id="username" name="username" required="required" type="text" placeholder="User" /> </p>
                            <p>
                                <label for="password" class="youpasswd"> Password: </label>
                                <input id="password" name="password" required="required" type="password" placeholder="************" /> </p>
                            <!--<p class="keeplogin">
                                <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />
                                <label for="loginkeeping">Keep me logged</label>
                            </p>  -->
                            <input type="hidden" name="_csrf" value="{{token}}"/>
                            <p class="btnLogin">
                                <!--para los css de stepanie "login button"-->
                                
                                <input type="submit" value="Log In" /><br />	</p>
                            
                        </form>
                        <p class="change_link"> Not registered? <a href="#toregister" class="to_register">Register</a> </p>
                    </div>
                    <div id="register" class="animate form">
                        <!--Formulario que venia por defecto en la plantilla, al cual se le cambiaron aspectos textuales -->
                        <form action="/signIn" autocomplete="on" method="post">
                            <h1> Register </h1>
                            <p>
                                <label for="usernamesignup" class="uname">User</label>
                                <input id="usernamesignup" name="username" required="required" type="text" placeholder="Username" /> </p>
                            <p>
                                <label for="emailsignup" class="youmail"> Email</label>
                                <input id="emailsignup" name="email" required="required" type="email" placeholder="Email" /> </p>
                            <p>
                                <label for="passwordsignup" class="youpasswd">Password </label>
                                <input id="passwordsignup" name="password" required="required" type="password" placeholder="************" /> </p>
                            <p class="signin button">
                            <input type="hidden" name="_csrf" value="{{token}}"/>
                                <input type="submit" value="Ready!" /> </p>
                            <p class="change_link"> Already a member? <a href="#tologin" class="to_register">Log in</a> </p>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>